* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(60deg, #000000, #3c0a4c);
    height:100%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.borda {
    border-width: 3px;
    border-color: #26003a;
    border-style: solid;
    margin: 20px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-right: 150px;
    align-items: center;
    font-size: 20px;
}
.menu img {
    width: 300px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100vw;
    padding-right: 20px;
}
.login input {
    border-width: 1px;
    border-radius: 100px;
    height: 40px;
    width: 300px;
    padding-inline: 10px;
    background-color: black;
    border-color: white;
    color: #626262;
    margin-bottom: 10px;
}
button {
    height: 40px;
    width: 80px;
    background-color: #26003a;
    color: #a1a1a1;
    border: #26003a;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 30px;
}
.frase {
    display: flex;
    height: 400px;
    padding: 30px;
    justify-content: center;
}
hr {
    border: none;
    height: 1px;
    background-color: #E790FD;
    width: 97%;
    margin: auto;
}
.informa {
    padding-top: 10px;
    background-color: #26003a74;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 400px;
    align-items: center;
    justify-content: center;
}
.informa ul li{
    list-style: none;
    padding-right: 300px;
    padding-left: 300px;
    padding: 30px;
    padding-bottom: 30px;
    text-align: justify;
    font-size: 20px;
}
.informa ul h1{
    padding-right: 300px;
    padding-left: 300px;
    padding: 30px;
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.informa ul hr {
    width: 70%;
    background-color: white;
    height: 1px;
}
.informa p {
    padding-right: 300px;
    padding-left: 300px;
    padding: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
}
.informa button {
    justify-content: center;
    margin-top: 100px;
    border-radius: 100px;
    height: 60px;
    width: 270px;
    color: white;
}
.informa h1 {
    padding-right: 300px;
    padding-left: 300px;
    padding: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 23px;
}
